<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="Bookmark" href="stylesheets/images/black.jpg" >
    <link rel="Shortcut Icon" href="stylesheets/images/black.jpg" />  
    <title>资讯详情</title>
	
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<link href="stylesheets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--bootstrap-css-->
	<link href="stylesheets/css/font-awesome.css" rel="stylesheet">
	<!--font-awesome-css-->
	<link rel="stylesheet" href="stylesheets/css/flexslider.css" type="text/css" media="screen" />
	<!--flexslider-css-->
	<link href="stylesheets/css/styleone.css" rel="stylesheet" type="text/css" media="all" />
	<!--style-sheet-->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,600,700,800,900" rel="stylesheet">
	
	<!--//fonts-->
</head>
<body>
	<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="/index" class="active scroll">首页</a>
			</li>
			
			<li>
				<a href="#events" class="scroll">最新动态</a>
			</li>
			<li>
				<a href="#comments" class="scroll">精彩评论</a>
			</li>
			<li>
				<a href="#"	class="scroll">欢迎你，<%=user%></a>
				 </li>
			<li>
		        <a href="/login"	class="register-tis">切换用户</a>
			</li>
		</ul>
				
	</div>
    <!-- Events -->
	<div class="events" id="events">
		<div class="container">
			<h3 class="w3layouts-heading">最新
				<span>动态</span>
			</h3>
			<div class="events-row">
				<% x=-1;%> 
				<% for(var j=0;j<3;j++){ %>
				<div class="col-md-4 events-grids">
					
					
					<% for(var i=0 ;i<2;i++){ x++  %>
					<div class="thumbnail events-wthree">
						<img src=<%=data[x].event_img%> class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1"><%=data[x].event_title%></a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> <%=data[x].event_date%></p>
								</div>
								<p class="paragraph-w3l"><%=data[x].event_massage%></p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#" id="thumb">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> <%=data[x].event_tumb%></a>
									</li>
									<li>
										<a href="/comment/<%=data[x].event_id%>">
											<span class="fa fa-comment" aria-hidden="true"></span> <%=data[x].event_comment%></a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<%}%>
				</div><%}%>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<!-- //评论 -->

	<div class="comments" id="comments" >
		<div class="container">
			<h3 class="w3layouts-heading">最新
				<span>评论</span>
			</h3>
		
<tbody action="/comment" method="GET">
	<tr>
		<% for(var j=0;j<5;j++){ %>
	<td>昵称：<%=data[j].comment_user%> </td>
	<td>评论时间：<%=data[j].comment_date%></td>
	<td><input class="form-control" type="text" rows="3" value="<%=data[j].comment%>" readonly></td>
	
	<%}%>
		</tr></a>
</tbody>

			<!-- <form action="/comment" method="GET" >
				<div class="form-group">
					<label for="name">写评论</label>
				</div><div>
					<textarea class="form-control" rows="3" placeholder="写下您的评论...."></textarea>
				</div> -->
			     <!-- <button id="submit" type="submit" onclick="comment()" style="float: right;">评论</button> -->
				 <!-- <button type="submit" class="btn btn-info" onclick="comment()"style="float: right;">评论</button>
			 </form>	 -->
			————————————————
		
				
			</div>
		</div>

<script type="text/javascript" src="javascripts/js/jquery.flexisel.js"></script>
<!-- //about-section-flexisel-slider-->
<script src="javascripts/js/jzBox.js"></script>

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="javascripts/js/move-top.js"></script>
<script type="text/javascript" src="javascripts/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });

</script>

<a href="#home" class="scroll" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>
<!-- //smooth scrolling -->
<script src="javascripts/js/bootstrap.js"></script>
<!-- <script>
	document.getElementById("thumb").onclick=function(){
		var thumbNum = document.getElementById("thumb"); -->
<!-- // 		window.open("test2.html?keyword=" + thumbNum.value);
// 		thumbNum=thumbNum+1
// 		alert(thumbNum);
// 		console.log("次数为"+thumbNum)
// 	}
// </script> -->
	


</body>
</html>