<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>kinjaz-Arena</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="Bookmark" href="stylesheets/images/black.jpg" >
<link rel="Shortcut Icon" href="stylesheets/images/black.jpg" />
<link rel="stylesheet" href="stylesheets/style.css" />

<body>

<div class="login-container">
	<h1>增加图片</h1>
	
	
	<form action='/picture-add.html' method="post" id="loginForm">
		
		<div>
			<input type="text" name="p_kind"class="p_kind" placeholder="分类"  />
		</div>
		<div>
			<input type="text" name="p_img" class="p_img" placeholder="图片路径"  />
		</div>
		<div>
			<input type="text" name="p_name" class="p_name" placeholder="图片名称"  />
		</div>
		<div>
			<input type="text" name="p_tags" class="p_tags" placeholder="标签" />
		</div>
        <div>
			<input type="text" name="p_time" class="p_time" placeholder="时间" />
		</div>
		<button id="submit" type="submit" >提交</button>
	</form>

<a href="'/picture-list.html" >
	<button type="button" class="register-tis">不想增加图片了？</button>
</a>


<!-- <script src="javascripts/common.js"></script> -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/common.js"></script>
<!--背景图片自动更换-->
<script src="javascripts/supersized.3.2.7.min.js"></script>
<script src="javascripts/supersized-init.js"></script>
<!--表单验证-->
<script src="javascripts/jquery.validate.min.js?var1.14.0"></script>



</body>
</html>